:root {
  --primary-text-color: #757575;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --third-color: #f5f4fa;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.714;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
}

.invisible {
  display: none;
}
/* Header */
header {
  background-color: var(--secondary-color);
}
.logo {
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.logoheader {
  color: var(--accent-color);
}
.list {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.nav-link:hover {
  color: var(--accent-color);
}
.nav-link:focus {
  color: var(--accent-color);
}

.contact {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.contact:hover {
  color: var(--accent-color);
}
.contact:focus {
  color: var(--accent-color);
}
/*Hero Section */
.hero-section {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.primary-button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/*Advantages */
.advantage {
  list-style: none;
}
.example {
  list-style: none;
}
.team-member {
  list-style: none;
}
.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--third-color);
}
.logo-second {
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logofooter {
  color: var(--secondary-color);
}
/* footer */
footer {
  background-color: var(--main-color);
}
address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color5);
}
.address {
  list-style: none;
}
.location {
  text-decoration: none;
  color: var(--secondary-color);
}
.footer-list {
  text-decoration: none;
  color: var(--primary-text-color);
}
.secondary-button:hover,
.secondary-button:focus {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
}
