:root {
  --primary-text-color: #757575;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --third-color: #f5f4fa;
  --accent-color: #2196f3;
}
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-text-color);
  background-color: var(--secondary-color);
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-color);
}
.invisible {
  display: none;
}
/* Header */
header {
  background-color: var(--secondary-color);
}
.logo {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.logoheader {
  color: var(--accent-color);
}
.list a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.list a:hover {
  color: var(--accent-color);
}
.nav-links a {
  color: var(--main-color);
}
.contacts a {
  color: var(--primary-text-color);
}
/*Hero Section */
.hero-section {
  background-color: #2f303a;
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.primary-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/*Advantages */
.advantages h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--third-color);
}
.logo-second {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logofooter {
  color: var(--secondary-color);
}
/* footer */
footer {
  background-color: var(--main-color);
}
address {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color5);
}
.location {
  color: var(--secondary-color);
}
.footer-list {
  color: var(--primary-text-color);
}
.secondary-button:hover,
.secondary-button:focus {
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
}
